{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
    <h1>Cours index</h1>

    <table class="table">
        <thead>
            <tr>
                
                <th>Titre_cours</th>
                <th>Image</th>
                <th>Enseignant</th>
                <th>Categorie</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for cour in cours %}
            <tr>
                
                <td>{{ cour.titreCours }}</td>
                <td>
                <img id="image" src="{{ asset('img/course/small/'~ cour.image) }}"  
                            class="card-img card-img-horizontal-lg sh-18 sw-lg-16 h-lg-100">  </td>
                <td>{{ cour.idEnseignant }}</td>
                <td>{{ cour.idCategorie }}</td>
                <td>
                    <a href="{{ path('app_cours_show', {'id': cour.id}) }}">show</a>
                    <a href="{{ path('app_cours_edit', {'id': cour.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cours_new') }}">Create new</a>






    
{% endblock %}
